{% extends "::base.html.twig" %}

{% block title %} ASI  ||  EPN {% endblock %}
{% block stylesheets %}

<link href="{{ asset('bundles/framework/css/estilo.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<div>
	{% block cabecero_block %}
	{% endblock %}
</div>

{% endblock %}