{% extends "::base.html.twig" %}
{% block body %}
<h3>Eliminar Medicamento por Indicacion.</h3>
Id_Medicamento: {{idMedicamento}}</br>
Id_Indicacion: {{idIndicacion}}</br>
Medicamento por Indicacion eliminado.!!!
{% endblock %}
